Source: python-alpinocorpus
Section: python
Priority: extra
Maintainer: Daniël de Kok <me@danieldk.eu>
Build-Depends: cdbs (>= 0.4.94), debhelper (>= 8.0.0), python-all-dev (>= 2.6.6-3), python3-all-dev (>= 3.3.1), libalpino-corpus-dev (>= 2.2.0), libboost-thread1.54-dev (>= 1.54), libboost-filesystem1.54-dev (>= 1.54), libxml2-dev (>= 2.7.8), libxslt1-dev (>= 1.1.26-7)
X-Python-Version: >= 2.6
Standards-Version: 3.9.5
Homepage: http://rug-compling.github.com/alpinicorpus

Package: python-alpinocorpus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Python bindings for the alpinocorpus library
 This module provides Python bindings for the alpinocorpus library.
 With this library, you can query/read Alpino treebanks.
